@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------colours*/
body{
    background-color: teal;
}

/*-----index/home page*/
header{
    margin: 0;
}

.container {
    font-size: 0; 
    background-color: teal; 
    padding: 16px;
    justify-content: space-evenly;

}
.btn{
   background-color: yellow;
   border: none;
   text-align: center;
   display: block;
   font-size: 24px; 
   margin-bottom: 20px;
}
.Main-title{
font-family: "Exo",sans-serif;
font-weight:500;
margin-top:25px;
margin-bottom: 40px;  
}
.Main-title i{
    padding-left:200px; 
}

.Ready{
    font-family: "Exo",'sans-serif';
    font-weight: 250;
    margin-bottom: 40px;
}
/*----Quiz*/
.question-container{
    display:  flex;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: right;
}
.score.container{
    position:  absolute;
    right: 400px;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

.correct {
    background: linear-gradient(32deg, rgb(235, 218, 218) 0%, rgba(23, 78, 12, 0.678) 100%);
}
.selected{
    background: linear-gradient(32deg, rgb(194, 11, 11) 0%, rgb(233, 5, 5) 100%);
}

/*----highscore*/
#username{
   width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*----last*/

